<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    {{!-- my css --}}
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    {{!-- add materialize cdn  --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<title>BURGER</title>
</head>

<body>
    {{!-- pass handlebars here --}}
	{{{ body }}}
</body>
	<script  src="https://code.jquery.com/jquery-3.4.0.js"  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="  crossorigin="anonymous"></script>
	<script src="/assets/js/index.js" type = "text/js"></script>
</html>